#Librerias externas
#bootstrap
#Twig
app/herramientas
# Si no enviamos vendor, entonces no necesitamos este
composer.lock
# Directorios temporales para Twig
tmp
# Configuración de la aplicación
*.ini
# El favicon es nuestro
favicon.ico
