# Librerías externas
bower_components/*
node_modules/*
vendor/*
composer.lock
# Archivos temporales
tmp
*.swp
.sass-cache/*
# Twig
app/herramientas
# Directorios temporales para desarrollo
database/*
# Propios de la aplicación
*.ini
favicon.ico
