<form role="form" id="busqueda_usuario_form">
    <legend>Nuevo usuario administrativo</legend>
    <div class="form-group">
        <label for="busqueda_usuario_input">Usuario</label>
        <input type="text" class="form-control input-sm" id="busqueda_usuario_input" name="busqueda_usuario_input" placeholder="Busque a un usuario existente">
    </div>
    <div class="form-group" id="rol_usuario" name="rol_usuario" style="display:none">
        <label for="busqueda_usuario_input">Rol</label>
        <select class="form-control input-sm col-xs-12" id="gidNumber" name="gidNumber">
                <option value="admin_global">Administrador Global</option>
                <option value="admon">Administrador</option>
                <option selected value="tecnico">Técnico de Atención</option>
        </select>
    </div>
</form>