<form class="form-horizontal" id="userModForm" name="userModForm" role="form" action="#" method="POST">
        <legend>Conexion</legend>
        <div class="form-group">
            <label for="servidor" class="col-xs-3 text-left">Servidor</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-sm" id="oficina" name="servidor" required placeholder="Servidor" autofocus autocomplete="off" value="{{datos.attr.servidor}}">
            </div>
        </div>
        <div class="form-group">
            <label for="puerto" class="col-xs-3 text-left">Puerto</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-sm" id="puerto" name="puerto" required placeholder="Puerto" autocomplete="off" value="{{datos.attr.puerto}}">
            </div>
        </div>
</form>