{% extends "base/layout.html.twig" %}
{% block titulo -%}Cambio de contraseña{% endblock %}
{% block javascript %} 
  <script src="{{ activos('js/controladores/mainControl.js') }}" type="text/javascript"></script>
{% endblock %}

{# Configuramos las variables que la plantilla padre usa para formar el menu #}
{% set menu = menu %}
{% set pagina = pagina %}

{% block lateral %} 
    <h3>Cambio de contraseña</h3>
    <p>Cambio de contraseña para <b>{{usuario}}</b></p>
{% endblock%}

{% block contenido -%}
    {{ parent() }}
    <form class="form-horizontal" role="form" method="POST" action="/main/cambio" id="cambiopass" name="cambiopass">
        <div class="form-group">
            <label for="passchangePrima" class="col-lg-3 control-label">Contraseña Nueva</label>
            <div class="col-lg-9">
                <input type="password" class="form-control" id="passchangeprima" name="passchangeprima" placeholder="Contraseña nueva" autofocus>
            </div>
        </div>
        <div id="pswd_info">
            <ul class="list-unstyled">
                <li>La contraseña debe cumplir las siguientes caracteristicas</li>
                <li id="char" class="invalid">Contener <strong>un caracter especial: . _ @ & + ! $ *</strong></li>
                <li id="capital" class="invalid">Contener <strong>una letra mayúscula</strong></li>
                <li id="number" class="invalid">Contener <strong>un numero</strong></li>
                <li id="length" class="invalid">Tener al menos <strong>8 caracteres</strong></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="passchangeConfirm" class="col-lg-3 control-label">Confirmar Contraseña Nueva</label>
            <div class="col-lg-9">
                <input type="password" class="form-control" id="passchangeconfirm" name="passchangeconfirm" placeholder="Confirmar Contraseña">
            </div>
        </div>
        <div class="form-group" id="msgadvertencia">
            <p class="text-center"><strong class="invalid" id="advertencia">{{mensajeError}}</strong></p>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="enviar" name="enviar">Cambiar Contraseña</button>
        </div>
    </form>
    
{% endblock %}

        
        

