{% extends "base/layout.html.twig" %}
{% block titulo -%}Listado de usuarios{% endblock %}
{% block javascript -%}
    <script src="{{ activos('js/controladores/directorioControl.js') }}" type="text/javascript"></script>
{% endblock %}

{# Configuramos las variables que la plantilla padre usa para formar el menu #}
{% set menu = menu %}
{% set pagina = pagina %}

{% block lateral %}
    <h3>Creación de usuarios</h3>
    <p>Creación de usuarios Institucionales<br>
    Bienvenido <b>{{titulo}} {{usuario}}</b></p>
{% endblock %}

{% block contenido -%}
    {{ parent() }}
    <h1>Aquí agregamos usuarios</h1>
{% endblock %}
