{% for archivo, titulo in menu %}
    {% if archivo == pagina %}
        <li class="active"><a href={{archivo}}>{{ titulo }}</a></li>
    {% else %}
        <li><a href={{archivo}}>{{ titulo }}</a></li>
    {% endif %}
{% endfor %}  
    
